body {
	background: linear-gradient(to bottom right, #fca7fc, #D6CDEA);
	font-family: 'Lora', serif;
	color:black;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 2px;
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color:#D6CDEA;
	font-size: 45px;
	line-height: 1.2;
	letter-spacing: 2px;
	font-weight: 900;
}

h2 {
 	color:#D6CDEA;
 	letter-spacing:2px;
 	font-size: 35px;
 	text-transform: uppercase;
 	font-weight: 800;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
    color: #D6CDEA;
    font-size: 25px;
    font-weight: 600;
}

 .container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
     width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
     width: 400px;
	}
}

p {
	text-justify: center;
}

.card-white {
	width:auto;
	background: white;
	padding:40px;
	margin: 30px auto;
	border-radius: 6px;
	box-shadow: 0px 10px 30px rgba(0 0 0 .1);
	text-align: center;
}

.list-inline {
	list-style: none;
	padding-left: 0px
}

.list-inline li {
	display: inline;
	padding: 0px;
}

.list-inline i:hover {
	color: black;
	font-size: 100px;
}

.list-inline i{
	font-size: 70px;
	color: #D6CDEA;
}

.img-circle {
  	border-radius: 50%;
}

img {
	height: 150px;
}

.btn-blue {
	background: #f7daf7;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
}

.img-mediumsq{ 
	height: 300px;
	width: 500px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.img-mediumsq:hover{
	border-radius: 50%
}

